/* root personnaliser font et couleurs appeler ensuite par var  */

:root {
    --monrouge : #E50914;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/* stylisation générale */
.liens a {
    margin: 15px;
    font-family: 'Inter';
    text-decoration: none;
}

.btn-nav {
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    border: none;
    font-family: 'Inter';
}

.btn-nav:hover {
background-color: white;
color: black;
}

.menu {
    height: 15vh;
    width: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


.profilselect {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.profilselect:hover {
    border: solid 2px white;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-direction: column;
    padding-left: 30px;
}

.contflex {
    width: 100%;
    display: flex;
}

.container-gauche {
    height: 85vh;
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    align-self: flex-start;
    margin: 0px 15px;
}

.sonia-dev {
    text-transform: uppercase;
    font-family: "Compacta";
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sonia-dev span {
    background-color: #E50914;
    padding: 0 15px;
    margin-top: 8px;
    font-size: 2em;
}

h1.sonia-dev::before {
    content: 'sonia';
    padding-right: 5px;
    font-size: 3.3em;
}

h1.sonia-dev::after {
    content: 'fullstack';
    padding-left: 5px;
    font-size: 3.3em;
}


h4 {
    margin-top: 20px;
}
.container-droit {
    height: 85vh;
    width: 50%;
    background-image: url('./images/dev.png');
    background-size: cover;
    background-position: center;
}

.dev {
    text-transform: uppercase;
    color: white;
    background-color: #E50914;
    width: fit-content;
}


.liens-contact {
    display: flex;
}


.liens-contact a{
text-decoration: none;
color: white;
margin-top: 0;
padding-top: 0;
}

.lien-contact,a:hover {
    text-decoration: underline #E50914 2px;
    color: white;
}
.point {
    padding-top:0;
}

p {
    color: white;
    font-family: 'Inter';
    padding: 10px;
}

.apropos {
    line-height: 30px;
    width: 80%;
    font-size: 13px;
    padding: 20px;
}

.parcours {
display: flex;
    height: 45vh;
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
    padding: 20px;
}

.play {
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

/* bouton parcours */
.btn-parcours {
    border-radius: 15px;
    padding: 5px 10px;
    color: black;
    background-color:white; 
}

.btn-parcours:hover {
    background-color: #E50914;
}

h4 {
    color: white;
    font-family: 'Inter';
}

h2 {
    color: white;
    font-family: 'Inter';
    padding: 20px 10px  ;
    background-color: black;
}

h3 {
    color: white;
    font-family: 'inter';
    padding-bottom: 30px;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carte img {
    height: 150px;
    border-radius: 10px;
}

.competences {
    height: 45vh;
    width: 100%;
    background-color:black;
}

@keyframes  scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-100px * 2));
    }
    }

.carrousel img {
    height: 200px;
    width: 200px;
}

.carrousel {
    height: 180px;
    width: auto;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.carrousel .automatique {
    animation: scroll 5s linear infinite;
    display: flex;
width: calc(200px * 20);
}

.carrousel .slide {
    height: 100px;
    width: 250px;
}


.top-projets {
    min-height:100vh;
    width: 100%;
    background-color: black;
}


.container1-projets,.container2-projets {
height: 50%;
width: 100%;
background-color: black;
}

.container1-projets {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    padding-top: 20px;
}

.container2-projets {
    display: flex;
    justify-content: space-around;
}

.projet img {
    width: 200px;
    height: 200px;
    z-index: 2;
    position: relative;
}

.contact {
    height: 100vh;
    width: 100%;
    background-color: #E50914;
    display: flex;
}

.image-contact {
    height: 100vh;
    width: 50%;
}

#p1::before {
    content: "1";
    color:#2D2D2D;
    font-size: 280px;
    position: absolute;
    right: 144px;
    bottom: -58px;
    font-family: 'Netflix sans';
}

#p2::before {
    content: "2";
    color:#2D2D2D;
    font-size: 280px;
    position: absolute;
    right: 173px;
    bottom: -58px;
    font-family: 'Netflix sans';
}

#p3::before {
    content: "3";
    color:#2D2D2D;
    font-size: 280px;
    position: absolute;
    right: 165px;
    bottom: -58px;
    font-family: 'Netflix sans';
}

#p4::before {
    content: "4";
    color:#2D2D2D;
    font-size: 280px;
    position: absolute;
    right: 174px;
    bottom: -58px;
    font-family: 'Netflix sans';
}

#p5::before {
    content: "5";
    color:#2D2D2D;
    font-size: 280px;
    position: absolute;
    right: 177px;
    bottom: -58px;
    font-family: 'Netflix sans';
}

#p6::before {
    content: "6";
    color: #2D2D2D;
    font-size: 280px;
    position: absolute;
    right: 183px;
    bottom: -58px;
    font-family: 'Netflix sans';
}

.projet{
    position: relative;
}

.container-contact {
    height: 85vh;
    width: 100%;
    display: flex;
}

.affiche-form {
    height: 100%;
    width: 50%;
    background-color: black;
}

.affiche-form img {
    height: 300px;
    margin: 100px;
}

.formulaire {
    height:100%;
    width: 50%;
    background-color: black;
}

input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    color: white;
    font-family: 'Inter';
}
  
  input[type=submit] {
    background-color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Inter';
}

input[type=submit]:hover {
    background-color: #E50914;
}

.container {
    box-sizing : border-box;
    border-radius:5px;
    background-color:black;

    width: 100%;
    max-width: 440px;
    margin:0 auto;
}

footer{
    height: 5vh;
    width: 100%;
    background-color: #E50914;
}

.copyright p {
    color: white;
    font-size: small;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.fleche-haut {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}