*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    height:100vh;
    width:100%;
    background-color: aqua;
}

.menu {
    height: 20vh;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profilselect {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.liens,a {
    text-decoration: none;
    color: white;
}

.lien,a:hover {
    
}

.logo {
    height: 60px;
    width: 60px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}