/* stylisation générale*/
:root {
    --noir :#050200;
    --rouge :#E50914;
    --blanc: #FBFCFA;
    --gris : #2D2D2D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteneur {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--noir);
}

p {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Eléments du conteneur gauche */
.conteneur-gauche {
    height: 100%;
    width: 18%;
    background-color: var(--noir); 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 80px;
    width: 80px;
}

/* Stylisation des avatars */
.avatar {
    height: 80px;
    width:80px;
    border-radius: 10px;
}

.img-profil .avatar:hover{
border: solid 2px var(--blanc);
scale: 1.5;
}

#cinephile {
    position: relative;
}

#cinephile:hover::after {
    content:"Cinéphile";
    color: var(--blanc);
    position: absolute;
    bottom: 40%;
    left: 150%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

#yogini {
    position: relative;
}

#yogini:hover::after {
    content:"Yogini";
    color: var(--blanc);
    position: absolute;
    bottom: 40%;
    left: 150%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

#petlover {
    position: relative;
}

#petlover:hover::after {
    content:"Petlover";
    color: var(--blanc);
    position: absolute;
    bottom: 40%;
    left: 150%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

#lectrice {
    position: relative;
}

#lectrice:hover::after {
    content:"Lectrice";
    color: var(--blanc);
    position: absolute;
    bottom: 40%;
    left: 150%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* Eléments du conteneur droit */
.conteneur-droit {
    height: 100%;
    width: 82%;
    background-image: url('./images/autoentrepreneure.png');
    background-size: cover;
    background-position: center;
    animation: change 20s infinite ease-in-out;
}

@keyframes change {
    0% {
        background-image: url('./images/prof.png');
    }

    25% {
    background-image: url('./images/massage.png');
    }  
    
    50% {
        background-image: url('./images/maman.png');
        }  

    75% {
        background-image: url('./images/animaux.png');
    }

    100% {
        background-image: url('./images/cameleon.png');
    }
}

.img-carrousel {
    height: 100px;
    width: 100px;
    animation-name:carrouselauto;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
}

/* version mobile */
@media screen and (max-width : 767px) {
.conteneur-droit {
    display: none;  
}
.conteneur { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteneur-gauche {
    width: 80%;
}

#cinephile:after {
    content:"Cinéphile";
    color: var(--blanc);
    position: absolute;
    top: 35px;
    left: 100px;
}

#petlover:after {
    content:"Petlover";
    color: var(--blanc);
    position: absolute;
    top: 35px;
    left: 100px;
}

#yogini:after {
    content:"Yogini";
    color: var(--blanc);
    position: absolute;
    top: 35px;
    left: 100px;
}

#lectrice:after {
    content:"Lectrice";
    color: var(--blanc);
    position: absolute;
    top: 35px;
    left: 100px;
}
}