*{
    margin: 0;
    padding: 0;
}

body {
background-color:blue;
}

nav {
    background-color: black;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

img {
height: 60px;
width: 60px;
}

.link {
    background-color: goldenrod;
    height: 80%;
    width: 30%;
}

a {
    text-decoration:none;
    color: white;
}

main {
    height: 88vh;
    width: 100%;
    display: flex;
}
.left {
    background-color: orange;
    height: 100%;
    width:50%;
}

.right {
    background-color: yellow;
    height: 100%;
    width:50%;
}

@media screen and (max-width: 767px)
 {
nav {
    display: none;
}
   .left {
    background-color: green;
   } 
   .right {
    background-color:blue;
   }
}